[Unit]
Description=HDFS ZKFC Service
Documentation=https://github.com/kofonfor/ansible-role-hdfs-zkfc

[Service]
Environment=LC_ALL=en_US.UTF-8
Environment=LANG=en_US.UTF-8
Type=simple
User={{ hadoop_user }}
Group={{ hadoop_user }}
ExecStart={{ hadoop_distr_prefix }}/bin/hdfs zkfc
StandardOutput=journal
StandardError=journal
Restart=always

[Install]
WantedBy=multi-user.target
